.img-circle {
  float: left;
  border-radius: 50%;
}

.messageDiv {
  margin-bottom: 20px;
}
.picMessage {
  display: inline-block;
}

.displayName {
  margin-top: 0px;
}

.messageLine {
  padding: 5px;
  margin-left: 70px;
}

.date {
  margin-top: 15px;
  margin-left: 75px;
  opacity: 0.5;
}
