.messagesDiv {
  margin-top: 25px;
}

.img-circle {
  float: left;
  border-radius: 50%;
}

.messageDiv {
  margin-bottom: 20px;
}

.picMessage {
  display: inline-block;
}

.message {
  margin-top: 5px;
}

.displayName {
  margin-top: 0px;
}

.messageLine {
  padding: 5px;
  margin-left: 70px;
}

.date {
  margin-top: 15px;
  margin-left: 75px;
  font-size: 14.5px;
  opacity: 0.4;
}
